

.homePageLogo {

    width: 176px;
}

.headerTideIcon {

    height: 33px;
    width: 33px;
}


.NavBarClass {
  background-color: #C3C3C3;
}

.HeaderClass {
  /* background-color: #F9F9F9; */
  background-color: #c3c3c3b5;
  opacity: .9;
}

.headerTideIcon {
  font-size: 10px;
}

.headerCurrentTide {
  font-size: 20px;
  font-weight: 700;
}

.headerTideArrow {
  font-size: 10px;
}

.headerWindSpeed {
  font-size: 16px;
  font-weight: 900;
}

.headerTempText {
  font-size: 20px;
  font-weight: 700;
}

.homeBTNs {
  height: 150px;
  font-weight: 600;
  font-size: 25px;
  background-color: #678e8fe2;
  opacity: 80%;
  border-radius: 15px;

}



