

/*? ============= Font Import ============= */

@font-face {
  font-family: "Catamaran-Bold";
  src: local("Catamaran-Bold"),
    url("./fonts/Catamaran-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Catamaran-ExtraBold";
  src: local("Catamaran-ExtraBold"),
    url("./fonts/Catamaran-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Catamaran-Regular";
  src: local("Catamaran-Regular"),
    url("./fonts/Catamaran-Regular.ttf") format("truetype");
}

/*? ============= Home Page ============= */

.homePageLogo {

    width: 176px;
}

.headerTideIcon {

    height: 33px;
    width: 33px;
}

.homeBTNs {
  font-family: "Catamaran-ExtraBold";
  height: 150px;
  font-weight: 900;
  font-size: 25px;
  background-color: #678e8fe2;
  opacity: 80%;
  border-radius: 15px;

}

/*? ============= Header Component ============= */

.NavBarClass {
  background-color: #C3C3C3;
}

.HeaderClass {
  /* background-color: #F9F9F9; */
  background-color: #c3c3c3b5;
  opacity: .9;
}

.headerTideIcon {
  font-size: 10px;
}

.headerCurrentTide {
  font-size: 20px;
  font-weight: 700;
}

.headerTideArrow {
  font-size: 10px;
}

.headerWindSpeed {
  font-size: 16px;
  font-weight: 900;
}

.headerTempText {
  font-size: 20px;
  font-weight: 700;
}

/*? ============= Footer Component ============= */

.FooterClass {
  background-color: #c3c3c3b5;
  opacity: .9;
}


/*? ============= Surf Knowledge Page ============= */

.surfKnowledgeBTN {
  font-family: "Catamaran-ExtraBold";
  height: 150px;
  font-weight: 600;
  font-size: 25px;
  background-color: #1cadb2e2;
  opacity: 80%;
  border-radius: 15px;

}

/*? ============= Rental Page ============= */

.rentalTitle {
  font-family: "Catamaran-ExtraBold";
  font-weight: 800;
  font-size: 40px;
}

.rentalDes {
  font-family: "Catamaran-Bold";
  font-size: 18px;
}

.rentalBox {
  height: 335px;
  width: 450px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
}

.rentalItemsTitle {
  font-family: "Catamaran-ExtraBold";
  font-weight: 800;
  font-size: 20px;
}

.rentalItemsPrice {
  font-family: "Catamaran-ExtraBold";
  font-weight: 800;
  font-size: 20px;
}

.rentalQuestion {
  height: 105px;
  width: 450px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
  font-family: "Catamaran-ExtraBold";
  font-weight: 800;
  font-size: 20px;
  background-color: #C3C3C3;
}

/*? ============= About Club Page ============= */

.aboutClubPhoto {
  width: 510px;
  opacity: 95%;
  /* border: rgb(118, 118, 118); */
  /* border-width: 5px; */
  /* border-style: solid; */
}

.aboutHours {
  font-family: "Catamaran-Regular";
  font-weight: 600;
}

.closedMondays {
  font-family: "Catamaran-Bold";
  font-weight: 900;
}

.aboutInfoFont {
  font-family: "Catamaran-Regular";
  font-weight: 500;
}

.staffTitle {
  font-family: "Catamaran-Bold";
  font-weight: 900;
  font-size: 20px;
}

.aboutStaffPhoto {
  width: 450px;
  opacity: 95%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.aboutSpacer {
  margin-bottom: 125px;
}