

/* .masterFrameWidth { */
  /* width: 545px; */
/* } */

/*? ============= Font Import ============= */

@font-face {
  font-family: "Catamaran-Bold";
  src: local("Catamaran-Bold"),
    url("./fonts/Catamaran-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Catamaran-ExtraBold";
  src: local("Catamaran-ExtraBold"),
    url("./fonts/Catamaran-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Catamaran-Regular";
  src: local("Catamaran-Regular"),
    url("./fonts/Catamaran-Regular.ttf") format("truetype");
}

/*? ============= Home Page ============= */

.homePageLogo {

    width: 176px;
}

.headerTideIcon {

    height: 33px;
    width: 33px;
}

.homeBTNs {
  font-family: "Catamaran-ExtraBold";
  height: 100px;
  font-weight: 900;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  opacity: 80%;
  border-radius: 15px;

}

/*? ============= Header Component ============= */

.NavBarClass {
  background-color: #C3C3C3;
}

.HeaderClass {
  /* background-color: #F9F9F9; */
  background-color: #c3c3c3b5;
  opacity: .9;
}

.headerTideIcon {
  font-size: 10px;
}

.headerCurrentTide {
  font-size: 18px;
  font-weight: 700;
}

.headerTideArrow {
  font-size: 10px;
}

.headerWindSpeed {
  font-size: 12px;
  font-weight: 900;
  white-space: nowrap;
}

.headerTempText {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}

/*? ============= Footer Component ============= */

.FooterClass {
  background-color: #c3c3c3b5;
  opacity: .9;
  width: 100%;
}


/*? ============= Surf Knowledge Page ============= */

.surfKnowledgeBTN {
  font-family: "Catamaran-ExtraBold";
  height: 100px;
  font-weight: 600;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  opacity: 80%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/*? ============= Rental Page ============= */

.rentalTitle {
  font-family: "Catamaran-ExtraBold";
  font-weight: 800;
  font-size: 40px;
}

.rentalDes {
  font-family: "Catamaran-Bold";
  font-size: 18px;
}

.rentalBox {
  height: 335px;
  width: 450px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
}

.rentalItemsTitle {
  font-family: "Catamaran-ExtraBold";
  font-weight: 800;
  font-size: 20px;
}

.rentalItemsPrice {
  font-family: "Catamaran-ExtraBold";
  font-weight: 800;
  font-size: 20px;
}

.rentalQuestion {
  height: 105px;
  width: 350px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
  font-family: "Catamaran-ExtraBold";
  font-weight: 800;
  font-size: 20px;
  background-color: #C3C3C3;
}

.rentalsSpacer {
  margin-bottom: 120px;
}

/*? ============= About Club Page ============= */

.aboutClubPhoto {
  width: 420px;
  opacity: 95%;
  border-radius: 15px;
  /*border: rgb(118, 118, 118);
  *//*border-width: 5px;
  *//*border-style: solid;
  */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.aboutHours {
  font-family: "Catamaran-Regular";
  font-weight: 600;
}

.closedMondays {
  font-family: "Catamaran-Bold";
  font-weight: 900;
}

.aboutInfoFont {
  font-family: "Catamaran-Regular";
  font-weight: 500;
}

.staffTitle {
  font-family: "Catamaran-Bold";
  font-weight: 900;
  font-size: 20px;
}

.aboutStaffPhoto {
  width: 420px;
  opacity: 95%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.aboutSpacer {
  margin-bottom: 125px;
}

.aboutQuestions {
  height: 105px;
  width: 350px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
  font-family: "Catamaran-ExtraBold";
  font-weight: 800;
  font-size: 20px;
  background-color: #C3C3C3;
}

/*? ============= Surf Log Home ============= */

.surfLogHomeBTNs {
  font-family: "Catamaran-ExtraBold";
  height: 100px;
  font-weight: 900;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  opacity: 80%;
  border-radius: 15px;
  margin-left: 10px;

}

.surfLogBTNSection {
  width: 100%;
}

.sessionDetails {
  font-family: "Catamaran-Regular";
  /* font-weight: 900; */
  font-size: 28px;
}

.welcomeText {
  font-family: "Catamaran-ExtraBold";
  font-size: 35px;
}

.welcomeName {
  font-family: "Catamaran-ExtraBold";
  font-size: 55px;
}

.userPhoto {

    height: 150px;
    width: 150px;
    outline-style: solid;
    outline-width: 10px;
    outline-color: rgb(255, 255, 255);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

}

.sessionDataBox {

  width: 90%;
  outline-style: solid;
  outline-width: 8px;
  outline-color: rgb(0, 0, 0);

}

.surfLogSpacer {
  margin-bottom: 105px;
}

.userDataBG {
  background-image: url("./img/Newport-Beach-Surf.jpg");
  width: 100%;
}


/*? ============= Events Page ============= */

.eventPageBtns {
  font-family: "Catamaran-ExtraBold";
  height: 70px;
  font-weight: 900;
  font-size: 25px;
  background-color: #6f6f6f75;
  opacity: 80%;
  border-radius: 15px;

}

.eventPageBtns_Upcoming {
  font-family: "Catamaran-ExtraBold";
  height: 70px;
  font-weight: 900;
  font-size: 20px;
  background-color: #3b94d852;
  opacity: 80%;
  border-radius: 15px;

}

.eventPageBtns_History {
  font-family: "Catamaran-ExtraBold";
  height: 70px;
  font-weight: 900;
  font-size: 20px;
  background-color: #3bd87a;
  opacity: 80%;
  border-radius: 15px;

}

.eventsTabBox {
  background-color: #3b94d836;
  border-style: solid;
  border-color: #6f6f6f75;
  border-width: 8px;
}

.eventsTabBox_Previous {
  background-color: #3bd87a3b;
  border-style: solid;
  border-color: #6f6f6f75;
  border-width: 8px;
}

.eventsTabBox_Upcoming {
  background-color: #3b94d836;
  border-style: solid;
  border-color: #6f6f6f75;
  border-width: 8px;
}

.currentEventsBtns {
  font-family: "Catamaran-ExtraBold";
  height: 450px;
  font-weight: 900;
  font-size: 25px;
  background-color: #3b94d836;
  opacity: 80%;
  border-radius: 15px;
}

.historyEventsBtns {
  font-family: "Catamaran-ExtraBold";
  height: 450px;
  font-weight: 900;
  font-size: 25px;
  background-color: #3bd87a3b;
  opacity: 80%;
  border-radius: 15px;
}

.eventIconPhoto {
  width: 95%;
  height: 300px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.eventPhoto2 {
  width: 420px;
  height: 250px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.eventPhoto3 {
  width: 420px;
  height: 250px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}



/*? ============= User Settings Page ============= */

/* .userSettings {

} */

.avatarIcon {
  width: 200px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.userProfileUpdateBtn {
  font-family: "Catamaran-ExtraBold";
  font-size: 18px;
  width: 200px;
  color: white;
  background-color: rgba(0, 0, 0, 0.902);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.editProfileText {
  font-family: "Catamaran-ExtraBold";
  /* height: 450px; */
  font-weight: 900;
}

.applyMainFont {
  font-family: "Catamaran-ExtraBold";
}

.editSpacer {
  width: 100px;
}

.profileSaveBtn {
  font-family: "Catamaran-ExtraBold";
  font-size: 20px;
  /* height: 100px; */
  width: 350px !important;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.dateOBText {
  font-family: "Catamaran-ExtraBold";
  font-size: 20px;
}

/*? ============= Create New Surf Session ============= */

.smallBoxRow {
  font-family: "Catamaran-ExtraBold";
  font-size: 30px;
  height: 90px;
  border: #c3c3c3b5;
  border-width: 5px;
  border-style: solid;
}

.surfboardSection {
  font-family: "Catamaran-ExtraBold";
  font-size: 30px;
  height: 60px;
  /* border: #c3c3c3b5; */
  border-width: 15px;
  border-top: #c3c3c3b5;
  border-left: #c3c3c3b5;
  border-right: #c3c3c3b5;
  border-bottom: #1cadb200;
  border-style: solid;
}

.surfboardSectionMiddle {
  font-family: "Catamaran-ExtraBold";
  font-size: 30px;
  height: 60px;
  /* border: #c3c3c3b5; */
  border-width: 5px;
  border-top: #c3c3c300;
  border-left: #c3c3c3b5;
  border-right: #c3c3c3b5;
  border-bottom: #1cadb200;
  border-style: solid;
}

.surfboardSectionEnd {
  font-family: "Catamaran-ExtraBold";
  font-size: 30px;
  height: 60px;
  /* border: #c3c3c3b5; */
  border-width: 5px;
  border-top: #c3c3c300;
  border-left: #c3c3c3b5;
  border-right: #c3c3c3;
  border-bottom: #c3c3c3b5;
  border-style: solid;
}

.surfboardMainBox {
  border: #c3c3c3b5;
  border-style: solid;
  border-width: 5px;
  /* margin-bottom: 400px; */
}

.datePicker {
  font-family: "Catamaran-ExtraBold";
  font-size: 12px;

}

.textBox {
  font-family: "Catamaran-ExtraBold";
  font-size: 30px;
}

.textEntry {
  font-family: "Catamaran-Regular";
  font-size: 15px;
}

.timePicker {
  font-family: "Catamaran-ExtraBold";
  font-size: 20px;
  /* padding: 30px; */
}

.dateFont {
  font-size: 25px;
}

.sessionLengthLabel {
  font-size: 20px;
  font-family: "Catamaran-ExtraBold";
}

.modelInputBox {
  width: 300px;
  font-family: "Catamaran-Regular";
  font-size: 20px;
  /* height: 30px; */
  border-style: solid;
  border-color: #303030b5;
}

.locationInputBox {
  width: 250px;
  font-family: "Catamaran-Regular";
  font-size: 20px;
  /* height: 30px; */
  border-color: #303030b5;
  border-style: solid;
}

.endSpacer {
  margin-bottom: 97px;
}

.surfSessionDropDowns {
  font-family: "Catamaran-ExtraBold";
  font-size: 20px;
}

/*? ============= Weather Widget Component ============= */

.weatherWidgetBody {
  /*margin-left: 100px;*/
  height: 340px;
  background-color: #1cadb2;

}

/* .weatherWidgetMain { */
  /* opacity: 90%; */
/* } */

.weatherWidgetTempFont {
  font-family: "Catamaran-ExtraBold";
  font-size: 23px;
}

.weatherWidgetTideFont {
  font-family: "Catamaran-ExtraBold";
  font-size: 16px;
}

.weatherWidgetLabelSurfText {
  font-family: "Catamaran-ExtraBold";
  font-size: 18px;
  margin-right: 15px;
}

.weatherWidgetSurfText {
  font-family: "Catamaran-Regular";
  font-size: 15px;
  margin-right: 10px;
}

.weatherWidgetTideText {
  font-family: "Catamaran-Regular";
  font-size: 16px;
}

/*? ============= Login Page ============= */

.loginBox {
  margin-top: 20%;
  /* width: 80%; */
  background-color: rgb(175, 175, 175);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.loginBTN {
  /* background-color: rgba(173, 113, 113, 0.465); */
  margin-top: 50px !important;
}

.registerBTN {
  margin-top: 50px !important;
  margin-bottom: 100px;
}

.welcometo {
  font-family: "Catamaran-ExtraBold";
  font-size: 40px;
}

.homeTitle {
  font-family: "Catamaran-ExtraBold";
  font-size: 40px;
}

.loginTextBox {
  font-family: "Catamaran-ExtraBold";
  font-size: 22px;
    width: 100%;
    background-color: white;
    color: black;
}

.loginTextLabel {
  font-family: "Catamaran-ExtraBold";
  font-size: 20px;
}

.passwordRecoveryLink {
  color: #1519d2;
  font-family: "Catamaran-ExtraBold";
  font-size: 16px;
}

.startbtns {
	padding: 12px 26px;
	color: white;
  /* width: 300px; */
	font-weight: 600;
	border: none;
	margin: 12px;
	width: 57%;
	background-color: rgb(92, 155, 227);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.contactFooter {
  opacity: 93%;
  width: 90%;
  background-color: rgb(230, 230, 230);
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.loginbtns {
	color: white;
  font-family: "Catamaran-ExtraBold";
	font-weight: 600;
	border: none;
	width: 350px;
	background-color: rgba(0, 0, 0, 0.902);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.footerLogin{
width: 100%;
position: fixed;
bottom: 0;
}

.companyName {
  font-family: "Catamaran-ExtraBold";
  font-size: 17px;
}


/*? ============= User Register Page ============= */

.welcometo{
  font-family: "Catamaran-ExtraBold";
	font-size: 32px;
	font-weight: 500;
	/* padding-bottom: 8px; */
	/* color: #545454; */
}

.registerdiv {
  margin-top: 6%;
  font-family: "Catamaran-ExtraBold";
}

.tosText {
  font-family: "Catamaran-Regular";
	font-size: 12px;
}

.registerInputText {
  font-family: "Catamaran-ExtraBold";
  font-size: 18px;
  width: 100%;
  background-color: white;
  color: black;
}

.registerBox {
  width: 350px !important;
  background-color: rgb(175, 175, 175);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.resgisterBTN {
	color: white;
  font-family: "Catamaran-ExtraBold";
	font-weight: 600;
	border: none;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.902);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}


/*? ============= Previous Surf Session ============= */

.previousSurfSessionBTN {

  font-family: "Catamaran-ExtraBold";
  font-size: 20px;
  color: white;
  width: 400px;
  /* height: 50px; */
  background-color: rgba(46, 46, 46, 0.902);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;

}

.previousSurfSessionTitle {
  font-size: 40px;
  font-family: "Catamaran-ExtraBold";
  margin-left: 7%;

}

.surfSessionCol {
  width: 96%;
}

/*? ============= View Surf Session ============= */

.viewSurfSessionTitle {
  font-family: "Catamaran-ExtraBold";
  font-size: 40px;
}

.viewSurfSessionDateBox {
  font-family: "Catamaran-ExtraBold";
  font-size: 30px;
  /* height: 150px; */
  width: 96%;
  border: #c3c3c3b5;
  border-width: 5px;
  border-style: solid;
}

.viewSurfSessionConditions {
  font-family: "Catamaran-ExtraBold";
  font-size: 30px;
  /* height: 150px; */
  width: 96%;
  border: #c3c3c3b5;
  border-width: 5px;
  border-style: solid;
}

.viewSurfSessionSurfboard {
  font-family: "Catamaran-ExtraBold";
  font-size: 20px;
  /* height: 150px; */
  width: 96%;
  border: #c3c3c3b5;
  border-width: 5px;
  border-style: solid;
}

.viewSurfSessionNotes {
  font-family: "Catamaran-Regular";
  font-size: 20px;
  /* height: 150px; */
  width: 96%;
  border: #c3c3c3b5;
  border-width: 5px;
  border-style: solid;
}

.viewSurfSessionSpacer {
  margin-bottom: 90px;
}

.viewSurfSessionListBTN {
  font-family: "Catamaran-ExtraBold";
  height: 50px;
  font-weight: 900;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  opacity: 80%;
  border-radius: 15px;
  /* margin-left: 10px; */

}


.viewSurfSessionDeleteBTN {
  font-family: "Catamaran-ExtraBold";
  height: 50px;
  width: 250px !important;
  font-weight: 900;
  font-size: 25px;
  background-color: rgba(180, 9, 9, 0.902);
  color: white;
  opacity: 80%;
  border-radius: 15px;
  /* margin-left: 10px; */

}


/*? ============= Event Details Page ============= */

.eventDetailsPhoto{
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.eventDetailsEventTitle{
  font-family: "Catamaran-ExtraBold";
  font-size: 28px;
  width: 100%;
  
}

.eventDetailsEventSlogan {
  font-size: 20px;
  font-family: "Catamaran-Regular";
  font-style: italic;
}